[Unit]
Description=Tilletia App volatile secrets ramfs
Before=tilletia-app-roboflow-key.service docker.service tilletia-app.service

[Mount]
What=ramfs
Where=/run/tilletia/secrets
Type=ramfs
Options=mode=0700,nodev,nosuid,noexec

[Install]
WantedBy=multi-user.target
