[Unit]
Description=Tilletia App Stack
Requires=docker.service
After=docker.service network-online.target run-tilletia-secrets.mount tilletia-app-roboflow-key.service
Wants=network-online.target run-tilletia-secrets.mount tilletia-app-roboflow-key.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=__DEPLOY_DIR__/start.sh
ExecStop=__DEPLOY_DIR__/stop.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
